ion-header {
    --background: #ffffffcc; 
  }


  ion-title {
    color: #ffb71c; 
  }

  ion-toolbar {
    --background: #022d57; 
  }

  ion-icon {
    color: #ffffffcc; 
  }

  
  .custom-button {
    --background: #022d57; 
    --color: #ffb71c; 
    --border-radius: 8px; 
  }
  