ion-header {
    --background: #ffffffcc; 
  }


  ion-title {
    color: #ffb71c; 
  }

  ion-toolbar {
    --background: #022d57; 
  }

  ion-icon {
    color: #ffffffcc; 
  }

  ion-input {
    --background: #ffffff; 
    --color: #000000; 
  }

  ion-textarea {
    --background: #ffffff; 
    --color: #000000; 
  }


  ion-label {
    --background: #ffffff; 
    --color: #000000; 
  }

  ion-item {
    --background: #ffffff; 
    --color: #000000; 
  }
  
  ion-input {
    --background: #ffffff; 
    --color: #000000; 
  }
  
  ion-grid {
    color: #c50808; 
  }

  .custom-button {
    --background: #022d57; 
    --color: #ffb71c; 
    --border-radius: 8px; 
  }
  