<ion-header>
  <ion-toolbar>
    <ion-title>Escanear QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Componente de escaneo -->
  <zxing-scanner
    [start]="true"
    [device]="null"
    (scanSuccess)="onCodeResult($event)"
  ></zxing-scanner>

  <!-- Mostrar resultado del código escaneado -->
  <ion-card *ngIf="qrCodeResult">
    <ion-card-header>
      <ion-card-title>Resultado del QR</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ qrCodeResult }}
    </ion-card-content>
  </ion-card>
</ion-content>

